<div>
    <h1>Falha ao concluir o pagamento</h1>
    <hr />
    <p>merchant_order_id: {{merchant_order_id}}</p>
    <p>payment_id: {{payment_id}}</p>
    <p>payment_type: {{payment_type}}</p>
    <p>payment_method_id: {{payment_method_id}}</p>
    <br />
    <p>description: {{description}}</p>
    <p>transaction_amount: {{transaction_amount}}</p>
    <p>email: {{email}}</p>
    <br />
    <p>external_reference: {{external_reference}}</p>
    <p>notification_url: {{notification_url}}</p>
</div>