<div>
    <h1>Pagamento efetuado</h1>
    <hr />
    <p>merchant_order_id: {{merchant_order_id}}</p>
    <p>payment_type: {{payment_type}}</p>
    <p>payment_method_id: {{payment_method_id}}</p>
    <p>external_reference: {{external_reference}}</p>
    <p>payment_id: {{payment_id}}</p>
</div>